<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Home | eHike</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light mb-5">
        <div class="container">
          <a class="navbar-brand" href="#">eHike</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="brand.html">Brand</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="collection.html">Collections</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <!-- end Navbar -->

    <!-- Product List -->
    <div id="app">
        <div class="container">
            <div v-if="!isShowingCart" id="shoes" class="row">
                <div class="col-md-6">
                <h2 class="productTxt">List <strong>Product</strong></h2>
                </div>
                <div class="col-md-6 me-auto">
                <span class="stats">
                    {{ cart.items.length }} 
                    <template v-if="cart.items.length == 1">item</template>
                    <template v-else>items</template> 
                    in cart, totalling {{ cartTotal | currency }}
                    <button class="btn btn-success" @click="isShowingCart = true">Cart</button>
                </span>
                </div>
                <input type="text" class="form-control mt-2 mb-2" v-model="search" placeholder="Search Product...">
                <div class="row row-cols-1 row-cols-md-4 g-4" >
                    <div class="card shadow p-3 mb-5 bg-white rounded" v-for="(shoe, index) of filterProduks" :key="index">
                        <img :src="shoe.picture" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                        <h5 class="card-title">{{ shoe.name }}</h5>
                        <p class="card-text"><strong>${{ shoe.price }}</strong></p>
                        <p class="card-text"><strong>{{ shoe.inStock }}</strong> in Stock</p>
                        <p class="card-text">{{ shoe.description }}</p>
                        </div>
                        <button class="btn btn-success" @click="addProductToCart(shoe)" :disabled="shoe.inStock == 0" >Add to cart</button>     
                    </div>
                </div>
            </div>

            <!-- Modal 
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-image">
                            <thead>
                              <tr>
                                <th scope="col">Images</th>
                                <th scope="col">Product</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Price</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="item in cart.items">
                                <td class="w-25">
                                    <img :src="item.shoe.picture" class="img-fluid img-thumbnail" alt="sheep">
                                </td>
                                <td>{{ item.shoe.name }}</td>
                                <td>{{ item.quantity }} &nbsp;
                                    <button class="btn btn-success" @click="increaseQuantity(item)" :disabled="item.shoe.inStock == 0">+</button>
                                    <button class="btn btn-danger" @click="decreaseQuantity(item)">-</button></td>
                                <td>{{ item.quantity * item.shoe.price | currency }}</td>
                              </tr>
                            </tbody>
                        </table> 
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
            -->

            <div v-else>
                <h1>Cart</h1>
                <table v-if="cart.items.length > 0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Image</th>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in cart.items">
                      <td>
                            <img width="100" :src="item.shoe.picture" class="img-fluid img-thumbnail" alt="sheep">
                      </td>
                      <td>{{ item.shoe.name }}</td>
                      <td>
                        {{ item.quantity }} &nbsp;
                        <button class="btn btn-success" @click="increaseQuantity(item)" :disabled="item.shoe.inStock == 0">+</button>
                        <button class="btn btn-danger" @click="decreaseQuantity(item)">-</button>
                      </td>
                      <td>{{ item.quantity * item.shoe.price | currency }}</td>
                    </tr>
                    
                    <tr>
                      <td class="text-right" colspan="3">
                        <strong>Subtotal</strong>
                      </td>
                      
                      <td>{{ cartTotal | currency }}</td>
                    </tr>
                    
                    <tr>
                        <td class="text-right" colspan="3">
                          <strong>Taxes</strong>
                        </td>
                        
                        <td>{{ taxAmount | currency }}</td>
                    </tr>
    
                    <tr>
                      <td class="text-right" colspan="3">
                        <strong>Grand total</strong>
                      </td>
                      
                      <td>{{ cartTotal + taxAmount | currency }}</td>
                    </tr>
                    
                    <tr>
                      <td colspan="3"></td>
                      <td><button class="btn btn-success" @click="checkout">Checkout</button></td>
                    </tr>
                  </tbody>
                </table>
                
                <p v-else>Your cart is currently empty.</p>
            </div>
        </div>

        <!-- End Product List -->
        <footer-component></footer-component>
        </div>
    </div>

    
    <!-- Development -->
    <script type="text/javascript" src="js/console.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>